appdirs                       
asgiref==3.2.10                    
astroid                       
attrs                         
beautifulsoup4                
black                         
click                         
colorama                      
distlib                       
dj-database-url               
Django                        
filelock                      
gunicorn                      
isort                         
lazy-object-proxy==1.4         
mccabe                        
pathspec                      
Pillow                        
pip                           
psycopg2-binary               
pylint                        
pytz                          
regex                         
setuptools                    
six                           
soupsieve                     
sqlparse                      
toml                          
typed-ast                     
virtualenv                    
whitenoise                    
wrapt                         