{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' type='text/css' href="{% static 'css/sty_manage2.css' %}">
</head>

<body>
    <div class="bangEssu_2">방있어</div>
    <div class='div2'>
        <div class="Askvisit"><b><u>방문요청</u></b></div>
        <table class='table2'>
            <thead>
                <th class='tdcolumn2-1'>날짜</th>
                <th>사용자</th>
                <th>집주인 및 집정보</th>
            </thead>
            <tbody>
                <tr>
                    <td class='tdcolumn2-1'>09/22</td>
                    <td class='tdcolumn2-2'>방예담</td>
                    <td>김영자 / 010-1234-5678 / 대학로 280 황금빌 202호</td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'></td>
                    <td class='tdcolumn2-2'>순둥이</td>
                    <td>김영자 / 010-1234-5678 / 대학로 280 황금빌 202호</td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'>10/01</td>
                    <td class='tdcolumn2-2'>동글이</td>
                    <td>김영자 / 010-1234-5678 / 대학로 280 황금빌 202호</td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'>10/03</td>
                    <td class='tdcolumn2-2'>현철이형</td>
                    <td>김영자 / 010-1234-5678 / 대학로 280 황금빌 202호</td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'></td>
                    <td class='tdcolumn2-2'></td>
                    <td></td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'></td>
                    <td class='tdcolumn2-2'></td>
                    <td></td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'></td>
                    <td class='tdcolumn2-2'></td>
                    <td></td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'></td>
                    <td class='tdcolumn2-2'></td>
                    <td></td>

                </tr>
                <tr>
                    <td class='tdcolumn2-1'></td>
                    <td class='tdcolumn2-2'></td>
                    <td></td>

                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>