{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' type='text/css' href="{% static 'css/sty_manage1.css' %}">
</head>

<body>
    <div class="bangEssu">방있어</div>
    <div class='div1'>
        <div class="Askcontract"><b><u>계약요청</u></b></div>
        <table class='table1'>
            <thead>
                <th class='tdcolumn1'>사용자</th>
                <th class='tdcolumn2'>방정보 및 집주인 정보</th>
                <th class='tdcolumn3'>방문일자</th>
                <th>계약상황</th>
            </thead>
            <tbody>
                <tr>
                    <td class='tdcolumn1'>훈이</td>
                    <td class='tdcolumn2'>김영자 / 010-1234-5678 / 대학로 280 황금빌 202호</td>
                    <td class='tdcolumn3'>10/05</td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'>존잘엽</td>
                    <td class='tdcolumn2'>김영자 / 010-1234-5678 / 대학로 280 황금빌 202호</td>
                    <td class='tdcolumn3'>10/19</td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'>DEW</td>
                    <td class='tdcolumn2'>김영자 / 010-1234-5678 / 대학로 280 황금빌 202호</td>
                    <td class='tdcolumn3'>10/22</td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'></td>
                    <td class='tdcolumn2'></td>
                    <td class='tdcolumn3'></td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'></td>
                    <td class='tdcolumn2'></td>
                    <td class='tdcolumn3'></td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'></td>
                    <td class='tdcolumn2'></td>
                    <td class='tdcolumn3'></td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'></td>
                    <td class='tdcolumn2'></td>
                    <td class='tdcolumn3'></td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'></td>
                    <td class='tdcolumn2'></td>
                    <td class='tdcolumn3'></td>
                    <td></td>
                </tr>
                <tr>
                    <td class='tdcolumn1'></td>
                    <td class='tdcolumn2'></td>
                    <td class='tdcolumn3'></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>