{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' type='text/css' href="{% static 'css/sty_mypage.css' %}">
    <style type="text/css">
        a {
            text-decoration: none
        }
    </style>
</head>

<body>
    <div class="navbar"><a href="{% url 'main' %}">방있어</a></div>
    <hr class="topline">
    <div class="leftdiv">

        <div class="mypagelogo">
            마이페이지
            <hr class="mypageline">
        </div>
        <div class="layout_login">

            <div class="logo">
                로고
            </div>
            <div class="id">
                <div class="idtext">아이디</div>
                <div class="idbox">{{ user.username }}</div>
            </div>

            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="로그아웃">
            </form>
        </div>
    </div>
    <div class="rightdiv">
        <table border="0" style="margin-left: auto; margin-right: auto; margin-top: 30px">

            <tr>
                <!-- 첫번째 줄 시작 -->
                <td>
                    <div class="button1">
                        <div class="buttonfont1"><a href="{% url 'mypage' %}">프로필</a></div>
                    </div>
                </td>

            </tr><!-- 첫번째 줄 끝 -->
            <tr>
                <!-- 두번째 줄 시작 -->
                <td>
                    <div class="button2">
                        <div class="buttonfont6"><a href="{% url 'scrap' %}">스크랩</a></div>
                    </div>
                </td>
            </tr><!-- 두번째 줄 끝 -->
            <tr>
                <!-- 두번째 줄 시작 -->
                <td>
                    <div class="button2">
                        <div class="buttonfont2"><a href="{% url 'seenroom' %}">본 방</a></div>
                    </div>
                </td>
            </tr><!-- 두번째 줄 끝 -->
            <tr>
                <!-- 두번째 줄 시작 -->
                <td>
                    <div class="button2">
                        <div class="buttonfont3">거래내역</div>
                    </div>
                </td>
            </tr><!-- 두번째 줄 끝 -->
            <tr>
                <!-- 두번째 줄 시작 -->
                <td>
                    <div class="button2">
                        <div class="buttonfont4">내가 올린 방</div>
                    </div>
                </td>
            </tr><!-- 두번째 줄 끝 -->
            <tr>
                <!-- 두번째 줄 시작 -->
                <td>
                    <div class="button2">
                        <div class="buttonfont5"><a href="{% url 'review' %}">후기</a></div>
                    </div>
                </td>
            </tr><!-- 두번째 줄 끝 -->
        </table>
    </div>
</body>

</html>